{% assign docs = navigation_sections.docs | sort: "path" %}
{% for doc in docs %}
    {% if doc.bookmark and doc.endpoint != "constructor" %}
        <li class="{% if doc.endpoint %}no-folder{% elsif doc.sub %}sub{% endif %}">
            <a href="#{{ doc.bookmark | downcase }}">{% if doc.endpoint %}<span class="endpoint {{ doc.endpoint }}"></span>{% endif %}{{ doc.name | default: doc.title }}</a>
        </li>
        {% endif %}
{% endfor %}
