<!-- Examples -->
<li{% if activeMenu != "examples" %} class="inactive"{% endif %}>
    <a href="{{ page.base }}examples/">Examples</a>
    {% if navLevel0 == "examples" %}
        <ul>
            {% assign navigation_sections = site.collections | where: "label", "examples" | first %}
            {% include navigation-sections.html %}
        </ul>
    {% endif %}
</li>
