code .hll { background-color: #ffffcc }
code .c { color: #aaaaaa; font-style: italic } /* Comment */
code .err { color: #aaaaaa; } /* Error */
code .k { color: #0000aa } /* Keyword */
code .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
code .cp { color: #4c8317 } /* Comment.Preproc */
code .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
code .cs { color: #0000aa; font-style: italic } /* Comment.Special */
code .gd { color: #aa0000 } /* Generic.Deleted */
code .ge { font-style: italic } /* Generic.Emph */
code .gr { color: #aa0000 } /* Generic.Error */
code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
code .gi { color: #00aa00 } /* Generic.Inserted */
code .go { color: #888888 } /* Generic.Output */
code .gp { color: #bbbbbb;  } /* Generic.Prompt */
code .gs { font-weight: bold } /* Generic.Strong */
code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
code .gt { color: #aa0000 } /* Generic.Traceback */
code .kc { color: #0000aa } /* Keyword.Constant */
code .kd { color: #0000aa } /* Keyword.Declaration */
code .kn { color: #0000aa } /* Keyword.Namespace */
code .kp { color: #0000aa } /* Keyword.Pseudo */
code .kr { color: #0000aa } /* Keyword.Reserved */
code .kt { color: #00aaaa } /* Keyword.Type */
code .m { color: #009999 } /* Literal.Number */
code .s { color: #aa5500 } /* Literal.String */
code .na { color: #1e90ff } /* Name.Attribute */
code .nb { color: #00aaaa } /* Name.Builtin */
code .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
code .no { color: #aa0000 } /* Name.Constant */
code .nd { color: #888888 } /* Name.Decorator */
code .ni { color: #800000; font-weight: bold } /* Name.Entity */
code .nf { color: #00aa00 } /* Name.Function */
code .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
code .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
code .nv { color: #aa0000 } /* Name.Variable */
code .ow { color: #0000aa } /* Operator.Word */
code .w { color: #bbbbbb } /* Text.Whitespace */
code .mf { color: #009999 } /* Literal.Number.Float */
code .mh { color: #009999 } /* Literal.Number.Hex */
code .mi { color: #009999 } /* Literal.Number.Integer */
code .mo { color: #009999 } /* Literal.Number.Oct */
code .sb { color: #aa5500 } /* Literal.String.Backtick */
code .sc { color: #aa5500 } /* Literal.String.Char */
code .sd { color: #aa5500 } /* Literal.String.Doc */
code .s2 { color: #aa5500 } /* Literal.String.Double */
code .se { color: #aa5500 } /* Literal.String.Escape */
code .sh { color: #aa5500 } /* Literal.String.Heredoc */
code .si { color: #aa5500 } /* Literal.String.Interpol */
code .sx { color: #aa5500 } /* Literal.String.Other */
code .sr { color: #009999 } /* Literal.String.Regex */
code .s1 { color: #aa5500 } /* Literal.String.Single */
code .ss { color: #0000aa } /* Literal.String.Symbol */
code .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
code .vc { color: #aa0000 } /* Name.Variable.Class */
code .vg { color: #aa0000 } /* Name.Variable.Global */
code .vi { color: #aa0000 } /* Name.Variable.Instance */
code .il { color: #009999 } /* Literal.Number.Integer.Long */
