dl {
	border-bottom: 1px solid #bdc3c7;
	padding: 0 0 0px 0;
	margin: 8px 0 20px 0;
}

dl dt {
	border-top: 1px solid #bdc3c7;
	width: 25%;
	float: left;
	position: relative;
	text-align: right;
	padding-top: 30px;
    padding-bottom: 2px;
    font-size: 15px;
    color: #888;

	> code.highlighter-rouge {
		right: 0;
		color: #fff !important;
		background-color: #bdc3c7 !important;
		font-style: italic;
		position: absolute;
		display: table-cell;
		top: 4px;
	}
}

dl dd {
	border-top: 1px solid #bdc3c7;
	margin-left: 25%;
	padding: 5px 15px 2px 15px;
}

dl dd:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
